@import "tailwindcss";

@theme {
  --color-primary1: #f35850;
  --color-secondary1: #44125a;
  --color-dark1: #0d0d0d;
  --text-small: 14px;
  --text-normal: 16px;
}

/* Optional fallback for browsers that don’t support @theme */
:root {
  --color-primary1: #f35850;
  --color-secondary1: #44125a;
  --color-dark1: #0d0d0d;
  --text-small: 14px;
  --text-normal: 16px;
}
/* extend: {
    colors: {
      primary: "#f35850",
      secondary: "#44125a",
     
    },
    */
